<header>

    <h1 id="header"><a href="#">Kana's <br class="sp_only">Portfolio</a></h1>
    <nav id="g-nav">
        <div class="openbtn"><span></span><span></span><span></span></div>
        <ul>
            <li class="navlist"><span href="#read">special<span class="pc_only"> skill</span></span></li>
            <li class="navlist"><span href="#work">work</span></li>
            <li class="navlist"><span href="#skill">skill</span></li>
            <li class="navlist"><span href="#Experience">exp<span class="pc_only">erience</span></span></li>
        </ul>
    </nav>
</header>