<section class="hero" id="hero">
    <div class="hero_left">
        <h1><span class="bgRLextend"><span class="line">Frontend Engineer</span></span><br><span class="bgRLextend">Kana's</span><br><span class="bgRLextend">Portfolio</span></h1>
    </div>
    <div class="hero_right">
        <ul  class="bgRLextend">
            <li><img src="assets/img/icon/html5_icon.svg" alt="html5"></li>
            <li><img src="assets/img/icon/css3_icon.svg" alt="css3"></li>
            <li><img src="assets/img/icon/sass_icon.svg" alt="sass"></li>
            <li><img src="assets/img/icon/gulp_icon.svg" alt="gulp"></li>
            <li><img src="assets/img/icon/ejs_icon.svg" alt="ejs"></li>
            <li><img src="assets/img/icon/node_icon.svg" alt="node"></li>
            <li><img src="assets/img/icon/javascript_icon.svg" alt="js"></li>
            <li><img src="assets/img/icon/jquery_icon.svg" alt="jquery"></li>
            <li><img src="assets/img/icon/git_icon.svg" alt="git"></li>
            <li><img src="assets/img/icon/github_icon.svg" alt="github"></li>
            <li><img src="assets/img/icon/sourcetree_icon.svg" alt="SourceTree"></li>
            <li><img src="assets/img/icon/photoshop_icon.svg" alt="Photoshop"></li>
            <li><img src="assets/img/icon/illustrator_icon.svg" alt="Illustrator"></li>
            <li><img src="assets/img/icon/xd_icon.svg" alt="XD"></li>
            <li><img src="assets/img/icon/slack_icon.svg" alt="slack"></li>
            <li><img src="assets/img/icon/teams_icon.svg" alt="teams"></li>
            <li><img src="assets/img/icon/vscode_icon.svg" alt="vscode"></li>
        </ul>
    </div>
  <div class="scrolldown1"><a href="#read"><span>Scroll</span></a></div>
</section>