<section class="sec_read scroll-point" id="read">


    <h1 class="backDrop">special skill</h1>

   <p class="Readtext"><span class="br">はじめまして</span><br><span class="br">こんなことが得意です</span></p>
                      
        <ul class="can delayScroll">
        <li>
            <div class="box_left">
                <img src="assets/img/read/read1.svg" alt="">
            </div>
            <div class="box_right">
                <p class="marker"><span class="br">xxxxxxxxxxxxxxx</span><span class="br">xxxxxxxxxxxxxxxs</span></p>
                <p>xxxxxxxxxxxxxxx</p>
            </div>
        </li>
        <li>
            <div class="box_left">
                <img src="assets/img/read/read2.svg" alt="">
            </div>
            <div class="box_right">
                <p class="marker"><span class="br">xxxxxxxxxxxxxxx</span><span class="br">xxxxxxxxxxxxxxx</span></p>
                <p>xxxxxxxxxxxxxxx</p>
            </div>
        </li>
        <li>
            <div class="box_left">
                <img src="assets/img/read/read3.svg" alt="">
            </div>
            <div class="box_right">
                <p class="marker"><span class="br">xxxxxxxxxxxxxxx</span><span class="br">xxxxxxxxxxxxxxx</span></p>
                <p>xxxxxxxxxxxxxxx</p>
            </div>
        </li>
    </ul>
</section>
