
<section class="sec_skill scroll-point" id="skill">
    <h1 class="backDrop">skill</h1>
    <div class="skill_list">
        <p class="Readtext"><span class="br">業務連携ツールは主に、</span>spreadsheet / Slack / Teams / backlog / zoom <span class="br">などを使用しています</span>
        </p>
        <ul class="skill_box__wrap">
            <% for (var i = 0; i < 20; i++) { %>
            <!-- box -->
            <li class="skill_box noDelayScroll">
                <div>
                    <div class="left">
                        <img src="assets/img/icon/html5_icon.svg" alt="html5">
                    </div>
                    <div class="right">
                        <h2>HTML / HTML５</h2>
                        <p class="year">経験年数：<span class="marker">xx年以上</span></p>
                        <p>xxxxxxxxxxxxxx</p>
                  
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</section>