<section class="sec_experience scroll-point" id="Experience">
    <h1 class="backDrop">experience</h1>
    <p class="Readtext"><span class="br">xxxxxxxxxx</span><span class="br">xxxxxxxxxxxxxxxxx</span><span class="br">xxxxxxxxxxxxxx</span><br>
        <span class="br">xxxxxxxxxxxxxxxx</span><span class="br">xxxxxxxxxxxxxxxxx</span></p>

    <h2>略歴</h2>
    <dl class="history">

        <% for (var i = 0; i < 10; i++) { %>
        <dt><span class="marker">2xxxx年</span></dt>
        <dd>xxxxxxxxxx</dd>
        <% } %>

    </dl>


    <div class="experience_box">
        <div>

            <ul class="experience_job">
                <li class="jpb_1"><p class="stripe"></p></li>
                <li class="jpb_2"><p class="pc_only"></p></li>
                <li class="jpb_3"><p class="stripe">フロントエンドエンジニア期</p></li>
                <li class="jpb_4"><p class="pc_only"></p></li>
                <li class="jpb_5"><p class="stripe"></p></li>
            </ul>

            <ul class="experience_year">
                <li>2004</li>
                <li>2006</li>
                <li>2008</li>
                <li>2010</li>
                <li>2012</li>
                <li>2014</li>
                <li>2016</li>
                <li>2018</li>
                <li>2020</li>
                <li>2022</li>
            </ul>
        </div>
    </div>

</section>
