<!-- <section class="sec_about scroll-point" id="about">
    <h1>About</h1>
    <div>
        <div class="left">
            <img src="assets/img/icon/html5_icon.svg" alt="html5">
        </div>
        <div class="right">
            <p>text</p>
        </div>
    </div>

</section> -->